#test

.idea
*.log
appiumlogs.txt
test-output/
allure-results/

TestConfiguration.yaml

.DS_Store
.class
.exe
.dll
.o
.so

*.iml
target/
*/target
/target
target

.classpath
.project
.settings
.metadata

bin/*

