<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite1" verbose="1">

    <listeners>
        <listener class-name="listeners.DynamicSuiteGenerator" />
        <listener class-name="listeners.AnnotationTransformer" />
        <listener class-name="org.testng.reporters.TestHTMLReporter" />
    </listeners>

</suite>

